[tool.black]
exclude = '''
/(
    \.git
    | \.caches
    | \.tox
    | venv
    | _build
    | build
    | dist

)/
'''
line-length = 120

[tool.ruff]
# see https://beta.ruff.rs/docs/rules/
select = ["B", "C90", "E", "F", "N", "PT", "W", "Q", "UP", "I"]
ignore = ["E501"]  # black has power over line-lenght
cache-dir = ".caches/.ruff"

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.isort]
known-first-party = ["relaycard"]

[tool.mypy]
ignore_missing_imports = true
cache_dir = ".caches/.mypy"

[tool.pytest.ini_options]
cache_dir = ".caches/.pytest"

[tool.coverage.run]
branch = true
parallel = true
data_file = ".caches/.coverage"
debug = ["trace"]

[tool.coverage.paths]
source = ["relaycard"]

[tool.coverage.report]
# goal is ~100%
fail_under = 40
show_missing = true
precision = 2
omit = ["*__init__.py", "setup.py"]

